<div class="row" style="margin-left:-25px;height:25px;padding-top:1px;padding-right:1px;padding-bottom:1px;padding-left:10px;width:450px;margin-top:20px;">
  <div style="width:10px;height:20px;position:absolute"><i class="glyphicon glyphicon-chevron-right"></i></div>
  <div class="col-md-12" style="padding-left:40px;width:60px;position:absolute">
    <div class="row" style="width:65px;">
      <div class="col-md-12" style="padding-left:3px;width:30px;height:20px;background-color:#ffedad;position:absolute;">Qty: </div>
      <div class="col-md-12" style="width:15px;height:20px;padding-left:30px;">
        <input value= {{amt}} oninput= {{action (mut amt) value="target.value"}} style="height:20px;width:30px;padding-left:3px;position:absolute">
      </div>
    </div>
  </div>
  <div class="col-md-12" style="padding-left:95px;width:150px;height:20px;position:absolute">
    <p style="width:140px;">{{name}}</p>
  </div>
  <div class="col-md-12" style="padding-left:260px;width:165px;height:20px;position:absolute">
    <input value= {{desc}} oninput= {{action (mut desc) value="target.value"}}>
  </div>
  <div class="col-md-12" style="padding-right:0px;width:30px;height:20px;padding-left:410px;position:absolute">
    <button type="button" {{action 'deleteItem' arrIndex}} class="btn-link" class="glyphicon glyphicon-remove-sign" style="height:27px;margin-top:-2px;color: black;"></button>
  </div>
</div>
