{{outlet}}
{{#if session.isAuthenticated}}
  <div class="container">
    <div class="col-sm-6 img-rounded" style="width:97%;height:175px;text-align:center; background-color:rgba(217,204,137,0.84);box-shadow:10px 15px 20px rgba(0, 0, 0, 0.3);">
      <h1>Welcome {{name}}</h1>
    </div>
    <div class="col-sm-6" style="height:40px">
    </div>
  </div>

  <<div class="container">
    <div class="list-scroll">
      <div class="row">

        {{#each model as |list index|}}
          <div class="list-scroll-item col-xs-4">
            <div class="col-md-6 col-md-offset-0" style="height:300px;width:250px;background-color:rgba(55,198,207,0.69);box-shadow:10px 15px 20px rgba(0, 0, 0, 0.3);overflow-y:scroll;">
              <h3>{{moment-format list.timeStamp 'MMM Do YYYY'}}</h3>
              <div style="float:left">
                <ul>
                  {{#each list.listItems as |item|}}
                    <li>{{item.itemAmt}} {{item.itemName}}</li>
                  {{/each}}
                </ul>
              </div>
              <div style="float:right">
                <button {{action "insertIntoStore" list}}>Edit</button>
              </div>
            </div>
            <!-- <button {{action "insertIntoStore" list}}>Edit</button> -->
          </div>
{{else}}
  You don't have any lists yet :(
        {{/each}}
      </div>
    </div>
    </div>
{{else}}
  <div class="row" style="height:400px;width:1000px;margin:14px;">
    <div class="col-md-6 col-md-offset-0" style="height:375px;width:450px;margin-top:120px;background-color:rgba(55,198,207,0.69);box-shadow:10px 15px 20px rgba(0, 0, 0, 0.3);margin-left:250px;">
      <div class='page-header' style="text-align:center">
        <h1>Login</h1>
      </div>
      {{input
      type='text'
      class='form-control'
      value=email
      placeholder='email'
    }} {{input
      type='password'
      class='form-control'
      value=password
      placeholder='password'
    }}
      <button class='btn btn-default' {{action "signIn" "password" email password}}>Sign in</button>
      {{#link-to 'register'}}
        Register
      {{/link-to}}
    </div>
  </div>
{{/if}}
